@use '../../scss/utils/mixins' as mix;

.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-xl);
  min-height: 200px;
  text-align: center;
}

.errorIcon {
  font-size: var(--text-4xl);
  margin-bottom: var(--spacing-md);
}

.errorMessage {
  max-width: 400px;
}
